@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&family=Nunito+Sans:wght@300;400;600&family=Roboto+Mono:wght@400&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}
#app {
  @apply bg-white w-full h-full flex flex-col justify-center items-center max-h-screen;
}

.swiper-container {
  @apply relative border border-gray-300 w-full max-w-3xl mx-auto h-80 overflow-hidden rounded-lg;
}

.swiper-wrapper {
  @apply flex h-full transition-transform duration-300 ease-in-out;
}

.swiper-wrapper li {
  @apply flex-none w-full h-full;
}

.toggle-btn {
  @apply opacity-80 cursor-pointer text-white absolute z-10 w-14 h-14 transition-colors duration-300 top-1/2 transform -translate-y-1/2;
}

.toggle-btn:hover {
  @apply opacity-100;
}

.toggle-btn.prev {
  @apply left-2;
}

.toggle-btn.next {
  @apply right-2 rotate-180;
}

fieldset {
  margin-bottom: 10px;
}

.swiper-slide-container .text-container {
  background: transparent !important;
  box-shadow: none !important;
}


.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.stat-number {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.stat-label {
  color: #4b5563;
  font-size: 1.125rem;
  line-height: 1.5;
}

:root {
  /* LIGHT THEME */
  --c-bg: #f7f8fa;
  --c-surface: #ffffff;
  --c-text: #1c1c1c;
  --c-text-2: #4a4a4a;
  --c-primary: #002060;
  --c-primary-h: #001a4d;
  --c-secondary: #dae3f3;
  --c-border: #d9d9d9;
  --c-highlight: #0d3880;

  --c-brand: #fff000;

  /* FONTS */
  --ff-heading: "M PLUS Rounded 1c", sans-serif;
  --ff-body: "Nunito Sans", system-ui, sans-serif;
  --ff-mono: "Roboto Mono", monospace;
}

[data-theme="dark"] {
  --c-bg: #1a1c1f;
  --c-surface: #2b2e31;
  --c-text: #e0e0e0;
  --c-text-2: #9a9fa5;
  --c-primary: #7896d6;
  --c-primary-h: #5c7ac1;
  --c-secondary: #2e3e5b;
  --c-border: #3b3f43;
  --c-highlight: #1c4ca2;
}

/* Globals */

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: 700;
}
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 500;
}

body,
p,
li,
input,
button {
  font-family: var(--ff-body);
}

code,
pre,
.stat-number {
  font-family: var(--ff-mono);
}
